<tr class="activity-data {{ui.className}}" data-date="{{date.raw}}">
    <td class="expand-row"><button>Expand</button></td>
    <td>{{date.formatted}}</td>
    <td>{{typeName}}</td>
    <td>{{duration.formatted}}</td>
    <td>{{calories}}</td>
</tr>