{{#chosenFoods}}
<div class="chosen_foods">
<h2>{{food_name}}</h2>
<p>{{food_calories}} Calories</p>
<p>{{food_protein}} Grams Protein</p>
<p>{{food_sugar}} Grams Sugar</p>
<p>{{food_fiber}} Grams Fiber</p>
</div>
{{/chosenFoods}}