{{> nutrition/monthlyTabs}}

<section class="monthly-overview " id="monthlyOverview" data-month-start="{{content.dateString}}" data-targets="{{targetsEncoded}}" data-food-units="{{foodUnits}}">
    <header class="clearfix">
        <h1 class="pull-left">Meals for {{content.displayMonth}}</h1>

        <button id="edit_food" class="edit_food btn pill gray pull-right">Edit Existing Food Item</button>
        <button id="new_food" class="btn pill gray pull-right">Create New Food Item</button>
        <button id="new_meal" data-foods="{{foods}}" class="btn pill gray pull-right">Enter New Meal</button>
        <button id="daily_target" class="btn pill gray pull-right">Set Daily Targets</button>
    </header>

    <table class="daily_nutrition">
        <thead>
        <tr>
            <th>Daily Totals</th>
            <th>Date</th>
            <th>Protein</th>
            <th>Calories</th>
        </tr>
        </thead>
        <tbody>
        {{#meals}}
            <tr class="meal-list {{ui.className}}">
                <td class="details"><a class="view_meal">View Daily Details</a></td>
                <td>{{meal_date}}</td>
                <td {{#proteinWarning}}class="warning"{{/proteinWarning}}>{{totals.food_protein}}</td>
                <td {{#calorieWarning}}class="warning"{{/calorieWarning}}>{{totals.food_calories}}</td>
            </tr>

            <tr class="additional-info">
                <td colspan="4">
                    {{#meals}}
                    <h2>{{meal_name}}</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Meal Summary</th>
                            <th>Protein</th>
                            <th>Calories</th>
                            <th>Sugar</th>
                        </tr>
                        </thead>
                        <tbody class="meal-list">
                        <tr>
                            <td class="details"><a data-meal="{{meal_encoded}}" class="edit_meal">View Meal Details</a></td>
                            <td>{{totals.food_protein}}</td>
                            <td>{{totals.food_calories}}</td>
                            <td>{{totals.food_sugar}}</td>
                        </tr>

                        <tr class="additional-info">
                            <td class="details meal_edit" colspan="4">

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {{/meals}}
                </td>
            </tr>
        {{/meals}}
        </tbody>
    </table>
</section>

<var class="js_components hidden">
    monthly_overview
</var>