<select id="food_selection" name="food_selection" class="select select-fill-width food_selection {{#editFood}}populate_food{{/editFood}}" {{^edit}} data-validation="required" data-validation-message="Please select at least one food." {{/edit}}>
    <option value="">Select Food ...</option>
    {{#foods}}
    <option data-index="{{index}}" value="{{_id}}">{{food_name}} | {{food_serving_size}} {{serving_size_applied}}</option>
    {{/foods}}
</select>

{{^editFood}}
<button class="select_food btn pill gray pull-right" type="button">Add Food</button>
{{/editFood}}
