<form class="new-meal-form" id="newMealForm" action="{{action}}" method="POST">
    <div class="groupset">
        <div id="food-form-data-fields">
            <div class="group">
                <label for="meal_name">Meal Name</label>
                <input id="meal_name" name="meal_name" type="text" class="inputText" value="{{meal_name}}" {{#edit}}data-edit="{{meal_name}}"{{/edit}}data-validation="uniqueMealName" data-validation-message="Please enter a unique name for this meal on this day." data-validation-message-required="Please enter a name for this meal" />

                <label for="meal_date">Meal Date</label>
                <input id="meal_date" name="meal_date" type="text" class="inputText" value="{{date.formatted}}" data-validation="required" data-validation-message="Please enter the meal's date." />

                {{^edit}}
                <select id="common_meals" class="select select-fill-width">
                    <option>Choose from common meals</option>
                    {{#commonMeals}}
                    <option data-index="{{index}}" value="{{index}}">{{name}}</option>
                    {{/commonMeals}}
                </select>

                <input id="meal_populated" type="hidden" value="{{date.formatted}}" data-validation="meal_populated" data-validation-message="Please add food to the meal." />
                {{/edit}}
            </div>
        </div>
    </div>

    <fieldset id="food_selection_container" class="activity-type"></fieldset>

    <fieldset class="selected_foods" id="selected_foods"></fieldset>

    <div class="group controls wide">

        <button class="btn gray pill pull-right" id="save_food">Save Meal</button>

        {{#edit}}
        <button type="button" class="btn gray pill pull-right" id="delete_meal">Delete Meal</button>
        {{/edit}}

        <button type="button" class="btn gray pill pull-right" id="close_meal_form">Cancel</button>

        {{#edit}}
        <button class="btn gray pill pull-right" id="duplicate_meal">Duplicate Meal</button>
        {{/edit}}

        <input type="hidden" name="mealID" value="{{_id}}" />
    </div>

    <div class="food-messaging"></div>
</form>